//弹窗样式
.spc-el-row {
	margin-bottom: 20px;
}
//弹窗样式
.el-dialog {
	border-radius: 10px;
	
	.el-dialog__header {
		display: flex;
		align-items: center;
		background-color: #3D434D;
		border-radius: 10px 10px 0 0;
		margin-right: 0;
		padding: 15px 20px 15px 20px !important;
		.el-dialog__title {
			color: #FFFFFF;
		}
		
	}
	.el-dialog__headerbtn .el-dialog__close{
		color: #FFFFFF;
	}
}

.el-dialog .section_input .el-row {
	margin-bottom: 20px;
}

//自定义按钮
.spc-button{
	cursor: pointer;
	width: 32px;
	height: 32px;
	color: #626466;
	background: #FFFFFF;
	border: 1px solid #C4C7CC;
	border-radius: 8px;
	display: flex;
	margin-left: 10px;
	align-items: center;
	justify-content: center;
}
// .el-col .el-col {
// 	margin-left: 10px;
// }

.spc-right {
	position: absolute;
	right: 5px;
  }

//表单必填样式
  .required {
	color: red;
}

